@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Oxanium", sans-serif;
    background-color: black;
    padding-top: 40px;
    position: relative;
}


.copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* End Footer */